{
  "presets": [["@babel/preset-env", { "targets": { "node": "8.10" } }]],
  "plugins": [
    "add-module-exports",
    "console-groupify",
    "transform-console-log-variable-names"
  ],
  "sourceMaps": "both",
  "comments": false,
  "env": {
    "local": {
      "plugins": []
    },
    "production": {
      "presets": ["minify"]
    }
  }
}
