{
  "presets": [["env", { "targets": { "node": "6.10" } }], "stage-3"],
  "plugins": ["add-module-exports", "console-groupify", "transform-console-log-variable-names"],
  "sourceMaps": "both",
  "comments": false,
  "env": {
    "local": {
       "plugins": []
    },
    "production": {
      "presets": ["minify"]
    }
  }
}
