.table thead.thead-dark th {
  color: white;
  background-color: #343a40;
  border-color: #32383e;
}

.table-container {
  max-height: 35rem;
  width: 100%;
  overflow-y: auto;
}

.loading {
  width: 150px;
}
